<a href="https://colab.research.google.com/github/bkokiko/IST-210-SPR20/blob/master/Group_Final_IST210.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Final Project Introduction-NBA Basketball Database

For one of our unique ideas, we want to create a database that analyzes various components of the National Basketball Association. We intend to create this database as a use for owners and general managers for each given team as a way to track five different entities that could help manage the team’s players, track their statistics, compare schedules, track attendance and follow incoming revenue. The goal of this database is to make these types of information available and ready to use as quickly as possible, so the management team for their respective NBA teams can make decisions various things like lineups for the games, when to schedule games, how to adjust the lineups to better suit the teams success, and changes to the arena itself to increase attendance and revenue. What makes this idea unique is that today no such database exists. Some databases exist for the individual entities such as Statistics trackers. Our database plans to create something that combines these entities into one easy, accessible place, so as much information is available to help making a decision about the welfare of the team. A basic day in this business will go a bit something like this: Each entity will act as a sort of ‘department’ that has a team dedicated to tracking and analyzing its respective entity, and once that occurs, those analyses will be uploaded to the main database(which is the one the end user will see). Finally, there will be an extra team that is dedicated to ‘cleaning up and refining’ the main/final database that will actually be used by the owners of the respective NBA teams

#Final EER Diagram

![alt text](https://github.com/bkokiko/IST-210-SPR20/blob/master/Group%20Assign1/Screen%20Shot%202020-04-22%20at%207.27.05%20PM.png)

For our final  Enahnced Entity Realtionship diagram, our group decided that the following tables were nessecary four building our database and then this diagram will help set the foundation for it. The following tables comprise of our database: Players, Teams, Schedule, Attendance and Statistics. All of these tables will deem useful for any manager who is trying to build an NBA team. The Player Table will hold information like a unique playerid, salary, minuutes, and season ending totals to track progress at the end of the season. The Team Table will hold information like a unique TeamID for each NBA team home and away, Venue, Coaches,Managers,Trainers, and a foreign value of playerid. The Statistics table will keep track of player stats like Assists, Rebounds, Minutes, points, and compile at the end of the season. The Attendance table keeps track of the non basketball side of things and more of the business side of the NBA like customers, length of game, Venue, Revenue and Customers. The schedule table will take care of Dates,venues and contain a foreign value of TeamID from the team table.

#Business Scenario

Within our database owners and general managers can track stats, compare schedules, check their attendance and revenue. They would be able to pull data and therefore make informed decisions that may lead to changes to their arenas and attendance. These changes could ultimately lead to more effective arena choices thus more revenue. The owner could pull attendance numbers from all venues and compare what is leading to higher revenue. This database would also allow the user to compare all team schedules this would allow them to make adjustments to their own if needed. It can also be used to look at and compare players’ stats. This could be used when making trades or seeing gaps in your team. This database is also designed to help the general manager  make informed and the most knowledgeable decisions to the team’s roster. The manager will have access to a player's identification, their salary, yearly stats to track progress and how many minutes they play in the game. They can use these various data types to build a roster, make changes like cutting and making trades. The manager will also have the information available to make decisions about the head coach of the team. As many people may know to have a championship winning basketball team, you need to have players that are able to carry out the strategies but you also need to have a coach that will give them the best possible strategy. Now one would ask when would this database become most useful? The answer to that would be before the trade deadline during the season, when teams are drying to dump bad contracts or make late season additions for a playoff push. Another time where this database would deem useful is the summer offseason free agency frenzy where teams spend the most time and effort building their rosters and staff for the upcoming season.

#SQL Section

##SQL:Database Construction

In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
%sql sqlite:///NBAdatabase.db

'Connected: @NBAdatabase.db'

In [6]:
%%sql
CREATE TABLE Players(PlayerID text primary key,salary integer, SeasonTotalStats integer, minutes integer);

 * sqlite:///NBAdatabase.db
Done.

[]

In [10]:
%%sql
INSERT INTO Players VALUES('Lebron James',38000,28,32);

 * sqlite:///NBAdatabase.db
1 rows affected.

[]

In [31]:
%%sql
INSERT INTO Players VALUES('Anthony Davis',32000,26,31)

 * sqlite:///NBAdatabase.db
1 rows affected.

[]

In [38]:
%%sql
INSERT INTO Players VALUES('Kyle Kuzma',15000,15,15)

 * sqlite:///NBAdatabase.db

IntegrityError: ignored

In [39]:
%%sql
INSERT INTO Players VALUES('Danny Green',8000,8,9)

 * sqlite:///NBAdatabase.db
1 rows affected.

[]

In [12]:
%%sql
CREATE TABLE Teams(TeamIDhome text primary key ,venue text, TeamIDaway text,coaches text, trainer text,manager text,Playerid text);

 * sqlite:///NBAdatabase.db
Done.

[]

In [17]:
%%sql
INSERT INTO Teams VALUES('LA Lakers','Staples Center','LA Clippers','Frank Vogel','LaTrainer','Rob Pelinka','Lebron James');

 * sqlite:///NBAdatabase.db
1 rows affected.

[]

In [18]:
%%sql
CREATE TABLE Stats(SeasonTotals integer primary key,assists integer,rebounds integer, minutes integer,points integer);

 * sqlite:///NBAdatabase.db
Done.

[]

In [20]:
%%sql
INSERT INTO Stats Values(28,12,9,36,27)

 * sqlite:///NBAdatabase.db
1 rows affected.

[]

In [21]:
%%sql
CREATE TABLE Schedule(Dates text primary key,venue text,attendance integer,manger text,teamid text)

 * sqlite:///NBAdatabase.db
Done.

[]

In [22]:
%%sql
INSERT INTO Schedule VALUES('12/15/2020','Staples Center',12000,'Rob Pelinka','LA Lakers')

 * sqlite:///NBAdatabase.db
1 rows affected.

[]

In [25]:
%%sql
CREATE TABLE Attendance(Venue text primary key,customers integer,length_hours integer,accomodations text,revenue integer)

 * sqlite:///NBAdatabase.db
Done.

[]

In [28]:
%%sql
INSERT INTO Attendance VALUES('Staples Center',12000,3,'Regular Season Game/nba shop/food stands',2000000)

 * sqlite:///NBAdatabase.db
1 rows affected.

[]

In [49]:
%%sql
INSERT INTO Attendance VALUES('Wells Fargo',9000,2,'Regular Season Game/nba shop/food stands',950000)

 * sqlite:///NBAdatabase.db
1 rows affected.

[]

To demonstrate how our database would function, We created a mock database in this google notebook to demonstrate the functions and to show off the kinds of data that will be stored. In this simple example our group took a look at the basic set up of the Los Angeles Lakers. Our group took a look at the Lakers' most key player to date, Lebron James as one of the main features of this example. Using the SQL Lite tool the group created the five tables previously stated in ER diagram section and then proceeded to use insert statements to add the appropriate data to them. Once we created the basic set up of the database, we began to run some querries to show some basic analysis of our database using the imported SQL Lite tool.

##SQL:Analysis

In [50]:
%%sql
SELECT * FROM Players

 * sqlite:///NBAdatabase.db
Done.

[('Lebron James', 38000, 28, 32),
 ('Anthony Davis', 32000, 26, 31),
 ('Kyle Kuzma', 15000, 15, 15),
 ('Danny Green', 8000, 8, 9)]

In [51]:
%%sql
SELECT PlayerID FROM Players where salary >30000

 * sqlite:///NBAdatabase.db
Done.

[('Lebron James',), ('Anthony Davis',)]

In [52]:
%%sql
SELECT Venue FROM Attendance where length_hours>2

 * sqlite:///NBAdatabase.db
Done.

[('Staples Center',)]

In [55]:
%%sql
SELECT AVG(salary) FROM Players

 * sqlite:///NBAdatabase.db
Done.

[(23250.0,)]